* {
    margin: 0;
}

html {
    --14px: 0.875rem; /* M: All Buttons */
    /*--15px: 0.9375rem;*/
    --16px: 1rem; /* All Buttons | M:AllParagraphs */
    /*--17px: 1.0625rem;*/
    --18px: 1.125rem;  /* All paragraphs */
    /*--19px: 1.1875rem;*/
    /*--20px: 1.25rem;*/
    /*--21px: 1.3125rem;*/
    --24px: 1.5rem; /* Hero box headings | M: SliderHeading*/
    /*--25px: 1.563rem;*/
    --26px: 1.625rem; /* M: PersonHeading, BookingHeading */
    --32px: 2rem; /* Slider heading | TabPerson, TabBooking Heading*/
    /*--33px: 2.063rem;*/
    --36px: 2.25rem; /* M: Hero heading */
    --40px: 2.5rem; /* Person, booking heading */
    --44px: 2.75rem; /* T: Hero heading */
    /*--48px: 3rem;*/
    /*--55px: 3.438rem;*/
    --56px: 3.5rem; /* Hero heading */

    /* Line-heights */

    --71px: 4.438rem; /* HeroHeading */

    /* COLORS */

    --black: #030303;
    --light-cream: #FFF7F0;
    --medium-brown: #7A746E;

    --galactic-blue: #755CDE;
    --summer-yellow: #F6A560;
    --pink: #F39E9E;
    --light-red: #EB7565;
    --cyan: #61C4B7;
    --dark-purple: #552049;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: var(--light-cream);
    color: var(--medium-brown)
}

.container {
    width: 1110px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px; /* because whole header is container w margin 0 auto */
    padding-bottom: 66px; /* because whole header is container w margin 0 auto */
}

.logo img {
    width: 64px;
    height: 64px;
}

.btn {
    border-radius: 28px;
    font-size: var(--16px);
    text-decoration: none;
    padding: 14px 45px;
    color: white;
}

.btn-dark {
    background: var(--black);
}

.btn-light {
    background: var(--light-red);
}

.hero {
    text-align: center;
    margin-bottom: 80px;
}

h1, h2, h3 {
    color: var(--black)
}

.hero-heading {
    font-weight: 700;
    font-size: var(--56px);
    line-height: var(--71px);
}

.skill {
    border-radius: 8px;
    padding: 24px;
    color: white;
    font-weight: 700;
    font-size: var(--24px)
}

.skills-grid {
    display: grid;
    grid-template-columns: 354px 164px 164px 354px;
    /*grid-template-columns: 2fr 1fr 1fr 2fr;*/
    grid-template-rows: 182px 158px;
    gap: 24px 24px;
    grid-auto-flow: row;
    grid-template-areas:
    "Graphic-Design UI-UX Apps Photography"
    "Graphic-Design Illustrations Illustrations Motion-Graphics";
    margin-bottom: 136px;
}

.Graphic-Design {
    grid-area: Graphic-Design;
    background: var(--galactic-blue);
}

.UI-UX {
    grid-area: UI-UX;
    background: var(--summer-yellow);
}

.Apps {
    grid-area: Apps;
    background: var(--pink);
}

.Illustrations {
    grid-area: Illustrations;
    background: var(--light-red);
}

.Photography {
    grid-area: Photography;
    background: var(--cyan);
}

.Motion-Graphics {
    grid-area: Motion-Graphics;
    background: var(--dark-purple);
}

.person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
}

.person-content-box {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.person-image-circle {
    width: 445px;
    height: 445px;
}

h2 {
    font-size: var(--40px)
}

.person-heading {
    margin-bottom: 34px;
}

.person-text {
    margin-bottom: 32px;
}

h3 {
    font-size: var(--32px)
}

.slider-heading {
    text-align: center;
    margin-bottom: 56px;
}

.portfolio {
    overflow: hidden;
}

.portfolio-slider {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.slider-navigation-buttons {
    display: flex;
    font-size: 3rem;
    justify-content: space-around;
    gap: 30px;
}