* {
    margin: 0;
    box-sizing: border-box;
}

html {
    --14px: 0.875rem; /* M: All Buttons */
    /*--15px: 0.9375rem;*/
    --16px: 1rem; /* All Buttons | M:AllParagraphs */
    /*--17px: 1.0625rem;*/
    --18px: 1.125rem; /* All paragraphs */
    /*--19px: 1.1875rem;*/
    /*--20px: 1.25rem;*/
    /*--21px: 1.3125rem;*/
    --24px: 1.5rem; /* Hero box headings | M: SliderHeading*/
    /*--25px: 1.563rem;*/
    --26px: 1.625rem; /* M: PersonHeading, BookingHeading */
    --28px: 1.75rem; /* LineHeight for Button */
    --30px: 1.75rem; /* LineHeight for M: PortfolioSliderHeading */
    --32px: 2rem; /* Slider heading | TabPerson, TabBooking Heading*/
    --33px: 2.063rem; /* LineHeight for M: PersonHeading */
    --36px: 2.25rem; /* M: Hero heading */
    --40px: 2.5rem; /* Person, booking heading */
    --44px: 2.75rem; /* T: Hero heading */
    --45px: 2.813rem; /* M: Hero heading */
    --50px: 3.125rem; /* Line-height for PersonHeading */
    /*--48px: 3rem;*/
    --55px: 3.438rem; /* LineHeight for Hero heading*/
    --56px: 3.5rem; /* Hero heading */

    /* Line-heights */

    --71px: 4.438rem; /* HeroHeading */

    /* COLORS */

    --black: #030303;
    --light-cream: #FFF7F0;
    --medium-brown: #7A746E;

    --galactic-blue: #755CDE;
    --summer-yellow: #F6A560;
    --pink: #F39E9E;
    --light-red: #EB7565;
    --cyan: #61C4B7;
    --dark-purple: #552049;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: var(--light-cream);
    color: var(--medium-brown);
    font-size: var(--16px);
    line-height: var(--26px)
}

.container {
    width: 91%;
    margin: 0 auto;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding-top: 16px; /* because whole header is container w margin 0 auto */
    padding-bottom: 32px; /* because whole header is container w margin 0 auto */
}

footer {
    padding-top: 40px; /* because whole header is container w margin 0 auto */
    padding-bottom: 32px; /* because whole header is container w margin 0 auto */
}

.logo img {
    width: 48px;
    height: 48px;
}

.btn {
    border-radius: 28px;
    font-size: var(--14px);
    line-height: var(--28px);
    text-decoration: none;
    padding: 8px 28px;
    color: white;
}

.btn-dark {
    background: var(--black);
}

.btn-dark:hover {
    background: var(--galactic-blue);
}

@media screen and (min-width: 768px) {
    header {
        padding-top: 34px; /* because whole header is container w margin 0 auto */
        padding-bottom: 64px; /* because whole header is container w margin 0 auto */
    }

    footer {
        padding-top: 56px; /* because whole header is container w margin 0 auto */
        padding-bottom: 56px; /* because whole header is container w margin 0 auto */
    }

    body {
        font-size: var(--18px);
        line-height: var(--28px)
    }

    .btn {
        font-size: var(--16px);
        padding: 14px 45px;
    }

    .logo img {
        width: 64px;
        height: 64px;
    }

    .container {
        width: 690px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1110px;
    }

    header {
        padding-top: 34px; /* because whole header is container w margin 0 auto */
        padding-bottom: 66px; /* because whole header is container w margin 0 auto */
    }

    footer {
        padding-top: 56px; /* because whole header is container w margin 0 auto */
        padding-bottom: 64px; /* because whole header is container w margin 0 auto */
    }
}

.btn-light {
    background: var(--light-red);
}

.btn-light:hover {
    background: var(--summer-yellow);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto 32px;
}

h1, h2, h3 {
    color: var(--black)
}

.hero-heading {
    font-weight: 700;
    font-size: var(--36px);
    line-height: var(--45px);
    margin-bottom: 16px;
}

.hero p {
    width: 285px;
}

@media screen and (min-width: 768px) {
    .hero {
        width: 752px;
    }

    .hero-heading {
        font-size: var(--44px);
        line-height: var(--55px);
        margin-bottom: 23px;
    }
}

@media screen and (min-width: 1440px) {

    .hero {
        text-align: center;
        margin: 0 auto 80px;
        width: 752px;
    }

    h1, h2, h3 {
        color: var(--black)
    }

    .hero-heading {
        font-weight: 700;
        font-size: var(--56px);
        line-height: var(--71px);
        margin-bottom: 23px;
    }

    .hero p {
        width: 730px;
    }
}

.skill {
    border-radius: 8px;
    padding: 24px;
    color: white;
    font-weight: 700;
    font-size: var(--24px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background: red;
}

.skill p {
    align-self: flex-start;
}

.skills-grid {
    display: grid;
    /*grid-template-columns: 155px 155px 155px 155px;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 182px 182px 182px 182px 182px 182px;
    gap: 24px 24px;
    grid-auto-flow: row;
    grid-template-areas:
    "Graphic-Design Graphic-Design"
    "Graphic-Design Graphic-Design"
    "UI-UX Apps"
    "Illustrations Illustrations"
    "Photography Photography"
    "Motion-Graphics Motion-Graphics";
    margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
    .skills-grid {
        display: grid;
        grid-template-columns: 155px 155px 155px 155px;
        /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
        grid-template-rows: 182px 158px 182px;
        gap: 24px 24px;
        grid-auto-flow: row;
        grid-template-areas:
        "Graphic-Design Graphic-Design UI-UX Apps"
        "Graphic-Design Graphic-Design Illustrations Illustrations"
        "Motion-Graphics Motion-Graphics Photography Photography";
        margin-bottom: 120px;
    }
}

@media screen and (min-width: 1440px) {
    .skills-grid {
        grid-template-columns: 354px 164px 164px 354px;
        /*grid-template-columns: 2fr 1fr 1fr 2fr;*/
        grid-template-rows: 182px 158px;
        gap: 24px 24px;
        grid-template-areas:
        "Graphic-Design UI-UX Apps Photography"
        "Graphic-Design Illustrations Illustrations Motion-Graphics";
        margin-bottom: 136px;
    }
}

.Graphic-Design {
    grid-area: Graphic-Design;
    background: var(--galactic-blue);
}

.UI-UX {
    grid-area: UI-UX;
    background: var(--summer-yellow);
}

.Apps {
    grid-area: Apps;
    background: var(--pink);
}

.Illustrations {
    grid-area: Illustrations;
    background: var(--light-red);
}

.Photography {
    grid-area: Photography;
    background: var(--cyan);
}

.Motion-Graphics {
    grid-area: Motion-Graphics;
    background: var(--dark-purple);
}

/*PERSON STYLES*/

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.person-image-circle {
    width: 90%;
    height: 90%;
    margin-bottom: 40px;
}

.person-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: var(--26px);
    line-height: var(--33px);
}

.person-heading {
    margin-bottom: 24px;
}

.person-text {
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .person {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 120px;
        gap: 69px;
        position: relative;
        left: -88px;
    }

    .person-content-box {
        width: 50%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
    }

    .person-image-circle {
        width: 364px;
        height: 364px;
        margin-bottom: unset;
    }

    h2 {
        font-size: var(--32px);
        line-height: var(--40px);
    }

    .person-text {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .person {
        margin-bottom: 88px;
        left: unset;
    }

    .person-content-box {
        width: 540px;
    }

    .person-image-circle {
        width: 445px;
        height: 445px;
    }

    h2 {
        font-size: var(--40px);
        line-height: var(--50px);
    }

    .person-heading {
        margin-bottom: 34px;
    }

    .person-text {
        margin-bottom: 32px;
    }
}

.slider-heading {
    text-align: center;
    margin-bottom: 32px;
    font-size: var(--24px);
    line-height: var(--30px);
}

.portfolio {
    overflow: hidden;
}

.portfolio-slider {
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 auto 32px;
}

@media screen and (min-width: 768px) {
    .slider-heading {
        font-size: var(--32px);
        line-height: var(--40px);
        margin-bottom: 56px;
    }
}

@media (min-width: 2560px) {
    .portfolio-slider {
        width: 2560px;
        margin-bottom: 56px;
    }
}

.slide {
    width: 270px;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
}

.slider-navigation-buttons {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    gap: 16px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin-bottom: 88px;
}

.slide-btn {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    cursor: pointer;
}

.slide-btn:hover {
    background: var(--galactic-blue)
}

.slide-btn img {
    width: 15px;
}

@media (min-width: 768px) {
    .portfolio-slider {
        gap: 30px;
    }

    .slide {
        width: 540px;
    }
}

/*BOOKING */

.booking-box {
    background: var(--black);
    border-radius: 10px;
    padding: 49px 24px 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--light-cream);
}

.booking-box-text {
    /*width: 540px;*/
    margin-bottom: 24px;
}

.booking-box h2 {
    margin-bottom: 24px;
    color: var(--light-cream);
}

@media screen and (min-width: 768px) {
    .booking-box {
        padding: 56px 75px 64px 65px;
        color: var(--light-cream);
    }

    .booking-box-text {
        width: 540px;
        margin-bottom: 26px; /*only needed for tablet, but doesn't affect desktop */
    }

    .booking-box h2 {
        margin-bottom: 26px;
    }
}


@media screen and (min-width: 1440px) {
    .booking-box {
        padding: 80px 95px 80px 65px;
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-between;
    }

    .booking-box h2 {
        margin-bottom: 25px;
    }
}